@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --primary: #e26a86;
  --color-primary: var(--primary);

  --font-ubuntu: 'Ubuntu', system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;
  --font-poppins: 'Poppins', system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;
}

@layer base {
  .scroller-watcher {
    animation: scroller 1s linear;
    animation-timeline: view();
  }
  @keyframes scroller {
    30%, 100% {
      filter: blur(0);
      scale: 1;
    }
  }
}